<!-- views/edit.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Edit Post</title>
</head>

<body>
  <h1>Edit Post</h1>
  <form action="/edit/<%= post.id %>" method="POST">
    <label for="edit-title">Title:</label>
    <input type="text" id="edit-title" name="title" value="<%= post.title %>" required>
    <label for="edit-content">Content:</label>
    <textarea id="edit-content" name="content" required><%= post.content %></textarea>
    <button type="submit">Save Changes</button>
  </form>
  <a href="/">Back to Home</a>

  <!-- Include the client-side script -->
  <script src="/script.js"></script>
</body>

</html>
